:root {
  --primary: #030303;
  --primary-2: #c2c2c2;
  --white: #ffffff;
  --gray: #444444;
  --out-line: #f8f8f8;
  --black: #000000;
  --out-line-2: #292929;
}

#header .p-r-85 {
  padding-right: 85px;
}
#header .p-l-85 {
  padding-left: 85px;
}
#header .w-260 {
  width: 260px;
}

.btn-style-1 {
  height: 50px !important;
  border-radius: 9999px;
  justify-content: flex-start;
  text-align: left;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Elements
-------------------------------------------------------------- */
html {
  margin-right: 0 !important;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: var(--primary);
  font-style: normal;
  color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
  transform: scale(1);
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

.row {
  margin-right: -12px;
  margin-left: -12px;
}
.row > * {
  padding-left: 12px;
  padding-right: 12px;
}

ul,
li {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  font-family: "DM Sans", sans-serif;
  border: 1px solid var(--out-line);
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  line-height: 20px;
  border-radius: 6px;
  padding: 14px 20px;
  width: 100%;
  background: var(--primary);
  color: var(--out-line);
  height: 50px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
textarea:hover, textarea:focus,
input[type=text]:hover,
input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=datetime]:hover,
input[type=datetime]:focus,
input[type=datetime-local]:hover,
input[type=datetime-local]:focus,
input[type=date]:hover,
input[type=date]:focus,
input[type=month]:hover,
input[type=month]:focus,
input[type=time]:hover,
input[type=time]:focus,
input[type=week]:hover,
input[type=week]:focus,
input[type=number]:hover,
input[type=number]:focus,
input[type=email]:hover,
input[type=email]:focus,
input[type=url]:hover,
input[type=url]:focus,
input[type=search]:hover,
input[type=search]:focus,
input[type=tel]:hover,
input[type=tel]:focus,
input[type=color]:hover,
input[type=color]:focus {
  border-color: var(--out-line);
}
textarea.style-2,
input[type=text].style-2,
input[type=password].style-2,
input[type=datetime].style-2,
input[type=datetime-local].style-2,
input[type=date].style-2,
input[type=month].style-2,
input[type=time].style-2,
input[type=week].style-2,
input[type=number].style-2,
input[type=email].style-2,
input[type=url].style-2,
input[type=search].style-2,
input[type=tel].style-2,
input[type=color].style-2 {
  padding-left: 12px;
  padding-right: 12px;
}

textarea::placeholder,
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=datetime]::placeholder,
input[type=datetime-local]::placeholder,
input[type=date]::placeholder,
input[type=month]::placeholder,
input[type=time]::placeholder,
input[type=week]::placeholder,
input[type=number]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=color]::placeholder {
  color: #030303;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

textarea {
  height: 160px;
  resize: none;
}

select {
  outline: 0;
}

/* Placeholder color */
::-webkit-input-placeholder {
  color: var(--text-3);
}

:-moz-placeholder {
  color: var(--text-3);
}

::-moz-placeholder {
  color: var(--text-3);
  opacity: 1;
}

button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary);
  border: 1px solid var(--out-line-2);
  color: var(--out-line);
  padding: 12px 32px;
  border-radius: 99px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
button .icon {
  font-size: 22px;
}

button:focus-within,
button:focus-visible,
button:focus {
  outline: none;
}

/* Since FF19 lowers the opacity of the placeholder by default */
.font-main {
  font-family: "DM Sans", sans-serif;
}

b,
strong {
  font-weight: bolder;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-primary {
  color: var(--primary) !important;
}

.text-white {
  color: var(--white) !important;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: var(--white);
}
a:focus, a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  outline: 0;
}

.link {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  color: var(--white) !important;
}

.tf-container, .w-1620, .w-1770, .w-1850 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1320px;
  max-width: 100%;
}
.tf-container .row, .w-1620 .row, .w-1770 .row, .w-1850 .row {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.tf-container .row > *, .w-1620 .row > *, .w-1770 .row > *, .w-1850 .row > * {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.w-1850 {
  width: 100%;
  max-width: 1880px;
}

.w-1770 {
  width: 100%;
  max-width: 1800px;
}

.w-1620 {
  width: 100%;
  max-width: 1650px;
}

.full,
.w-1850,
.w-1770,
.w-1620 {
  margin: auto;
}

.full,
.w-1850,
.w-1770,
.w-1620 {
  padding-left: 15px;
  padding-right: 15px;
}

.w-fit {
  width: fit-content;
}

.h-120 {
  height: 120px;
}

.h-full {
  height: 100%;
}

.m-auto {
  margin: auto;
}

.p-15 {
  padding: 15px;
}

.ab-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ab-center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ab-center-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

.right-32 {
  right: 32px;
}

.circle-50 {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
}

.border-2 {
  border: 1px solid var(--out-line-2);
}

.border-b {
  border-bottom: 1px solid var(--out-line-2);
}

.border-t {
  border-top: 1px solid var(--out-line-2);
}

.border-l {
  border-left: 1px solid var(--out-line-2);
}

.border-r {
  border-right: 1px solid var(--out-line-2);
}

.radius-full {
  border-radius: 9999px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-25 {
  gap: 25px;
}

/*# sourceMappingURL=styles.css.map */
