:root {
  --primary: #030303;
  --primary-2: #c2c2c2;
  --white: #ffffff;
  --gray: #444444;
  --gray-2: #7c7c7c;
  --out-line: #f8f8f8;
  --black: #000000;
  --out-line-2: #292929;
  --black-2: #111;
}

#header {
  position: relative;
}
#header .p-r-85 {
  padding-right: 85px;
}
#header .p-l-85 {
  padding-left: 85px;
}
#header .w-260 {
  width: 260px;
}
#header .menu-list {
  display: flex;
  color: var(--primary-2);
}
#header .menu-list .menu-item {
  display: flex;
  margin: 0px 20px;
  position: relative;
  align-items: center;
  justify-content: center;
}
#header .menu-list .menu-item .menu-text {
  display: inline-block;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.35s ease;
  will-change: transform, opacity;
  backface-visibility: hidden;
}
#header .menu-list .menu-item:hover {
  color: var(--out-line);
}
#header .menu-list .menu-item:hover .menu-text {
  transform: translate3d(0, -8px, 0);
  opacity: 1;
}

.home-sub-menu {
  position: fixed;
  width: 100vw;
  left: 0;
  right: 0;
  top: 122px;
  overflow-y: auto;
  background-color: var(--primary);
}
.home-sub-menu .sub-menu-list {
  padding: 30px 60px 0 60px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.home-sub-menu .sub-menu-list .sub-item {
  border: 1px solid var(--out-line-2);
  border-radius: 8px;
  padding: 24px;
  font-size: 16px;
  font-weight: 500;
}
.home-sub-menu .sub-menu-list .sub-item img {
  height: 350px;
}

.search-overlay {
  display: none;
  backdrop-filter: blur(10px);
  z-index: 10;
  height: 400px;
  background-color: rgba(17, 17, 17, 0.8);
  padding-top: 70px;
  padding-left: 95px;
  padding-right: 95px;
}
.search-overlay img {
  width: 117px;
}
.search-overlay form input {
  height: 95px;
  font-weight: 400px !important;
  font-size: 25px !important;
  padding: 0 40px 0 0;
  border-radius: 11px;
}

@keyframes fadeUp {
  from {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.btn-style-1 {
  height: 50px !important;
  border-radius: 9999px;
  justify-content: space-between;
  text-align: left;
}

.btn-hover-center:hover {
  gap: 10px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: justify-content 0s;
}
.btn-hover-center:hover span:nth-child(1) {
  transform: translateX(20px);
}
.btn-hover-center:hover span:nth-child(2) {
  transform: translateX(-20px);
}

.btn-hover-center span {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateX(0);
}

#footer .footer-logo {
  margin-bottom: 130px;
}
#footer .title {
  margin-bottom: 70px;
}
#footer .text-inner {
  margin-bottom: 75px;
}
#footer .social-tag {
  margin-top: 140px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Elements
-------------------------------------------------------------- */
html {
  margin-right: 0 !important;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: var(--primary);
  font-style: normal;
  color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
  transform: scale(1);
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row > * {
  padding-left: 15px;
  padding-right: 15px;
}

ul,
li {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  font-family: "DM Sans", sans-serif;
  border: 1px solid var(--out-line);
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  line-height: 20px;
  border-radius: 6px;
  padding: 14px 20px;
  width: 100%;
  background: var(--primary);
  color: var(--out-line);
  height: 50px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
textarea:hover, textarea:focus,
input[type=text]:hover,
input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=datetime]:hover,
input[type=datetime]:focus,
input[type=datetime-local]:hover,
input[type=datetime-local]:focus,
input[type=date]:hover,
input[type=date]:focus,
input[type=month]:hover,
input[type=month]:focus,
input[type=time]:hover,
input[type=time]:focus,
input[type=week]:hover,
input[type=week]:focus,
input[type=number]:hover,
input[type=number]:focus,
input[type=email]:hover,
input[type=email]:focus,
input[type=url]:hover,
input[type=url]:focus,
input[type=search]:hover,
input[type=search]:focus,
input[type=tel]:hover,
input[type=tel]:focus,
input[type=color]:hover,
input[type=color]:focus {
  border-color: var(--out-line);
}
textarea.style-2,
input[type=text].style-2,
input[type=password].style-2,
input[type=datetime].style-2,
input[type=datetime-local].style-2,
input[type=date].style-2,
input[type=month].style-2,
input[type=time].style-2,
input[type=week].style-2,
input[type=number].style-2,
input[type=email].style-2,
input[type=url].style-2,
input[type=search].style-2,
input[type=tel].style-2,
input[type=color].style-2 {
  padding-left: 12px;
  padding-right: 12px;
}

textarea::placeholder,
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=datetime]::placeholder,
input[type=datetime-local]::placeholder,
input[type=date]::placeholder,
input[type=month]::placeholder,
input[type=time]::placeholder,
input[type=week]::placeholder,
input[type=number]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=color]::placeholder {
  color: var(--white);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

textarea {
  height: 160px;
  resize: none;
}

select {
  outline: 0;
}

/* Placeholder color */
::-webkit-input-placeholder {
  color: var(--text-3);
}

:-moz-placeholder {
  color: var(--text-3);
}

::-moz-placeholder {
  color: var(--text-3);
  opacity: 1;
}

button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary);
  border: 1px solid var(--out-line-2);
  color: var(--out-line);
  padding: 12px 32px;
  border-radius: 99px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
button .icon {
  font-size: 22px;
}

button:focus-within,
button:focus-visible,
button:focus {
  outline: none;
}

/* Since FF19 lowers the opacity of the placeholder by default */
.font-main {
  font-family: "DM Sans", sans-serif;
}

b,
strong {
  font-weight: bolder;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-primary {
  color: var(--primary) !important;
}

.text-white {
  color: var(--white) !important;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: var(--white);
}
a:focus, a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  outline: 0;
}

.link {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  color: var(--white) !important;
}

.tf-container, .w-1620, .w-1770, .w-1850 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1320px;
  max-width: 100%;
}

.w-1850 {
  width: 100%;
  max-width: 1880px;
}

.w-1770 {
  width: 100%;
  max-width: 1800px;
}

.w-1620 {
  width: 100%;
  max-width: 1650px;
}

.full,
.w-1850,
.w-1770,
.w-1620 {
  margin: auto;
}

.full,
.w-1850,
.w-1770,
.w-1620 {
  padding-left: 15px;
  padding-right: 15px;
}

/* Typography
-------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  color: var(--white);
  font-weight: 500;
}

h1 {
  font-size: 385px;
  line-height: 90px;
}

h2 {
  font-size: 200px;
  line-height: 90px;
}

h3 {
  font-size: 60px;
  line-height: 90px;
}

h4 {
  font-size: 50px;
  line-height: 90px;
}

h5 {
  font-size: 45px;
  line-height: 90px;
}

h6 {
  font-size: 35px;
  line-height: 90px;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.w-initial {
  width: initial;
}

.min-w-325 {
  min-width: 325px;
}

.max-w-325 {
  max-width: 325;
}

.w-max-content {
  width: max-content;
}

.h-122 {
  height: 122px;
}

.h-full {
  height: 100%;
}

.max-h-400 {
  max-height: 400px;
}

.m-auto {
  margin: auto;
}

.p-15 {
  padding: 15px;
}

.p-35 {
  padding: 35px;
}

.p-100 {
  padding: 100px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-26 {
  padding-left: 26px;
  padding-right: 26px;
}

.px-75 {
  padding-left: 75px;
  padding-right: 75px;
}

.px-85 {
  padding-left: 85px;
  padding-right: 85px;
}

.py-9 {
  padding-top: 9px;
  padding-bottom: 9px;
}

.py-35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
}

.text-primary-2 {
  color: var(--primary-2);
}

.font-satoshi {
  font-family: "Satoshi", sans-serif;
}

.font-clash-display {
  font-family: "ClashDisplay", sans-serif;
}

.font-six-caps {
  font-family: "Six Caps", sans-serif;
}

.bg-gray-btn {
  background-color: rgba(248, 248, 248, 0.1019607843);
}

.ab-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ab-center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ab-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

.top-full {
  top: 100%;
}

.top-122 {
  top: 122px;
}

.bottom {
  bottom: 100%;
}

.right-32 {
  right: 32px;
}

.right-full {
  right: 100%;
}

.left-full {
  left: 100%;
}

.circle-50 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-style-2 {
  border: 1px solid var(--out-line-2);
}

.border-b {
  border-bottom: 1px solid var(--out-line-2);
}

.border-t {
  border-top: 1px solid var(--out-line-2);
}

.border-l {
  border-left: 1px solid var(--out-line-2);
}

.border-r {
  border-right: 1px solid var(--out-line-2);
}

.radius-full {
  border-radius: 9999px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-18 {
  gap: 18px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.parent-menu:hover .sub-menu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: all 0.3s ease;
}
.parent-menu .sub-menu {
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50%);
}

.parent-menu-2:hover .sub-menu-2 {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: all 0.3s ease;
}
.parent-menu-2 .sub-menu-2 {
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50%);
}

.dropdown {
  position: relative;
}
.dropdown:hover > .dropdown-menu, .dropdown:focus-within > .dropdown-menu, .dropdown.is-open > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s;
  pointer-events: auto;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  background: var(--black-2);
  color: var(--white);
  opacity: 0;
  visibility: hidden;
  transform: translateY(8px);
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s linear 0.2s;
  will-change: opacity, transform;
  border-radius: 0;
}

.dropdown-menu .dropdown > .dropdown-menu {
  top: 0;
  left: 100%;
  transform: translateX(8px);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s linear 0.2s;
}

.dropdown-menu .dropdown:hover > .dropdown-menu,
.dropdown-menu .dropdown:focus-within > .dropdown-menu,
.dropdown-menu .dropdown.is-open > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s;
  pointer-events: auto;
}

.text-hover-white:hover {
  color: var(--white);
}

/*# sourceMappingURL=styles.css.map */
