@media (max-width: 1440px) {
    .swiper-btn-prev {
        display: none !important;
    }
    .swiper-btn-next {
        display: none !important;
    }

    .view-work-section {
        .right-view-work {
            padding: 15px;
        }
    }

    .footer-top {
        border: none !important;
    }
    .footer-left,
    .footer-right,
    .footer-inner {
        border: none !important;
        border-left: none !important;
        border-right: none !important;
    }
    .footer-bottom {
        border: none !important;
    }
}
@media (max-width: 1400px) {
    .contact {
        .address,
        .phone,
        .mail {
            margin-left: 15px;
        }
        .social-list {
            display: none !important;
        }
    }
    .menu-list,
    .header-right {
        display: none !important;
    }
    .icon-menuhome,
    .icon-close {
        display: none !important;
    }
    .nav-mobile-btn {
        display: block !important;
    }
    .footer-left {
        img {
            margin-bottom: 50px !important;
        }
    }
    .home-1-hero-1,
    .home-1-hero-2,
    .home-1-hero-3 {
        h1 {
            font-size: 200px;
            line-height: 50px;
        }
    }
}
@media (max-width: 1200px) {
    .view-work-section {
        .view-work-content {
            margin: 0;
            .right-view-work {
                font-size: 24px !important;
            }
        }
    }
    #footer {
        .title {
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 1024px) {
    .double-box {
        position: relative !important;
        transform: translate(0);
        display: flex;
        flex-direction: column;
        right: 0;
        padding: 15px;
        .top-box,
        .bottom-box {
            width: 100% !important;
        }
    }

    .hero-section-top {
        display: none !important;
    }
    .newletter-section {
        padding: 10px !important;
        .newletter-right {
            // display: none;
        }
    }
}
@media (max-width: 991px) {
    .testimonial {
        padding: 20px !important;
    }
}
@media (max-width: 820px) {
    .home-1 {
        .contact {
            display: flex;
            flex-direction: column;
            .contact-info {
                display: none !important;
                // padding-top: 50px;
                // padding-bottom: 50px;
            }
        }
    }
}
@media (max-width: 768px) {
    h1,
    .display-2xl {
        font-size: 100px;
        line-height: 50px;
    }
    .display-2xl-2 {
        font-size: 95px;
        line-height: 79px;
    }

    .display-xl-2 {
        font-size: 90px;
        line-height: 76px;
    }

    h2,
    .display-xl {
        font-size: 85px;
        line-height: 72px;
    }
    h3,
    .display-lg {
        font-size: 80px;
        line-height: 60px;
    }
    .display-lg-2 {
        font-size: 75px;
        line-height: 48px;
    }
    .display-lg-3 {
        font-size: 70px;
        line-height: 57.6px;
    }
    .display-lg-4 {
        font-size: 65px;
        line-height: 49px;
    }
    .display-lg-5 {
        font-size: 60px;
        line-height: 59px;
    }
    .display-lg-6 {
        font-size: 55px;
        line-height: 64px;
    }
    .display-lg-7 {
        font-size: 50px;
        line-height: 52px;
    }

    h4,
    .display-md {
        font-size: 45px;
        line-height: 44px;
        letter-spacing: -0.02em;
    }
    .display-md-2 {
        font-size: 40px;
        line-height: 38px;
    }
    .display-md-3 {
        font-size: 35px;
        line-height: 44px;
    }
    h5 {
        font-size: 30px;
        line-height: 50px;
    }
    h6,
    .display-xs {
        font-size: 25px;
        line-height: 50px;
    }
    .display-xs-2 {
        font-size: 20px;
        line-height: 36px;
    }
    .text-xl {
        font-size: 20px;
        line-height: 30px;
    }
    .text-xl-2 {
        font-size: 20px;
        line-height: 24px;
    }
    .text-xl-3 {
        font-size: 20px;
        line-height: 32px;
    }
    .text-lg {
        font-size: 18px;
        line-height: 28px;
    }
    .home-1-hero-1,
    .home-1-hero-2,
    .home-1-hero-3 {
        h1 {
            font-size: 100px;
            line-height: 50px;
        }
    }
    .project-section {
        .title {
            font-size: 50px !important;
        }
    }
    .blog-no-sidebar {
        .card-style-2 {
            flex-wrap: wrap !important;

            .img-inner {
                max-width: 100% !important;
            }
            .content {
                padding-left: 15px;
                padding-right: 15px;
                button {
                    width: 200px !important;
                }
            }
        }
    }
    .author {
        .user {
            padding-right: 15px;
        }
        .role {
            padding-left: 15px;
            padding-right: 15px;
        }
        .comment {
            padding-left: 15px;
        }
    }
}
@media (max-width: 575px) {
    .hero-section {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .swiper-content {
        top: 25% !important;
    }
    .testimonial {
        padding: 10px !important;
        .testimonial-icon {
            display: none !important;
        }
    }
    #footer {
        .footer-left,
        .footer-right,
        .footer-inner {
            margin-top: 40px;
            padding: 10px !important;
        }
        .footer-bottom {
            flex-wrap: wrap;
            gap: 20px;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
        .title {
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
    .swipper-section {
        margin-top: 20px;
        .swiper-content {
            top: 0 !important;
        }
    }
    .newletter-section,
    .contact-cta {
        display: none !important;
    }
    .tag-list {
        flex-wrap: wrap;
        gap: 5px !important;
    }
    h5 {
        font-size: 40px !important;
    }

    .blog-detail {
        .content-left {
            padding-right: 15px !important;
        }
        .recent-posts {
            .post-list {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
        }
    }
}
