@media (max-width: 1440px) {
    .swiper-btn-prev {
        left: 0;
        transform: translateX(0%) !important;
    }
    .swiper-btn-next {
        right: 0;
        transform: translateX(0%) !important;
    }
}

@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 991px) {
}
@media (max-width: 820px) {
}
@media (max-width: 768px) {
}
@media (max-width: 575px) {
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}
