@media (max-width: 1440px) {
    .swiper-btn-prev {
        left: 0;
        transform: translateX(0%) !important;
    }
    .swiper-btn-next {
        right: 0;
        transform: translateX(0%) !important;
    }
}

@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
    .menu-list,
    .header-right {
        display: none !important;
    }
    .nav-mobile-btn {
        display: block !important;
    }
    .hero-section-top {
        display: none !important;
    }
    .newletter-section {
        padding: 10px !important;
        .newletter-right {
            // display: none;
        }
    }
    .swiper-btn-prev {
        display: none !important;
    }
    .swiper-btn-next {
        display: none !important;
    }
}
@media (max-width: 991px) {
}
@media (max-width: 820px) {
}
@media (max-width: 768px) {
    .blog-no-sidebar {
        .card-style-2 {
            flex-wrap: wrap !important;

            .img-inner {
                max-width: 100% !important;
            }
            .content {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .author {
        .user {
            padding-right: 15px;
        }
        .role {
            padding-left: 15px;
            padding-right: 15px;
        }
        .comment {
            padding-left: 15px;
        }
    }
}
@media (max-width: 575px) {
    .hero-section {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .swiper-content {
        top: 25% !important;
    }
    #footer {
        .footer-left,
        .footer-right,
        .footer-inner {
            margin-top: 40px;
            padding: 10px !important;
        }
        .footer-bottom {
            flex-wrap: wrap;
            gap: 20px;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
        .title {
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
    .swipper-section {
        margin-top: 20px;
        .swiper-content {
            top: 0 !important;
        }
    }
    .newletter-section,
    .contact-cta {
        display: none !important;
    }
    .tag-list {
        flex-wrap: wrap;
        gap: 5px !important;
    }
    h5 {
        font-size: 40px !important;
    }
    .testimonial {
        padding: 10px !important;
        .testimonial-icon {
            display: none !important;
        }
    }
    .blog-detail {
        .content-left {
            padding-right: 15px !important;
        }
        .recent-posts {
            .post-list {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
        }
    }
}
