@use "./abstracts/index" as *;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Elements
-------------------------------------------------------------- */

html {
    margin-right: 0 !important;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background-color: var(--primary);
    font-style: normal;
    color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
    transform: scale(1);
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    > * {
        padding-left: 15px;
        padding-right: 15px;
    }
}

ul,
li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

// form //
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-family: $font-main;
    border: 1px solid var(--out-line);
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    padding: 14px 20px;
    width: 100%;
    background: var(--primary);
    color: var(--out-line);
    height: 50px;
    font-weight: 400;
    @include transition3;
    &:hover,
    &:focus {
        border-color: var(--out-line);
    }
    &.style-2 {
        padding-left: 12px;
        padding-right: 12px;
    }
}

textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="color"]::placeholder {
    color: var(--white);
    @include transition3;
}

textarea {
    height: 160px;
    resize: none;
}
select {
    outline: 0;
}
/* Placeholder color */
::-webkit-input-placeholder {
    color: var(--text-3);
}

:-moz-placeholder {
    color: var(--text-3);
}

::-moz-placeholder {
    color: var(--text-3);
    opacity: 1;
}

button {
    @include transition3;
    background-color: var(--primary);
    border: 1px solid var(--out-line-2);
    color: var(--out-line);
    padding: 12px 32px;
    border-radius: 99px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    .icon {
        font-size: 22px;
    }
}
button:focus-within,
button:focus-visible,
button:focus {
    outline: none;
}

/* Since FF19 lowers the opacity of the placeholder by default */

// :-ms-input-placeholder {
//     color: var(--secondary-2);
// }

.font-main {
    font-family: $font-main;
}

b,
strong {
    font-weight: bolder;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-primary {
    color: var(--primary) !important;
}

.text-white {
    color: var(--white) !important;
}

a {
    @include transition3;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: var(--white);
    &:focus,
    &:hover {
        @include transition3;
        text-decoration: none;
        outline: 0;
    }
}

.link {
    @include transition3;
    &:hover {
        color: var(--white) !important;
    }
}

.tf-container {
    position: relative; //change
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 1320px;
    max-width: 100%;
}

.w-1850 {
    @extend .tf-container;
    width: 100%;
    max-width: 1880px;
}

.w-1770 {
    @extend .tf-container;
    width: 100%;
    max-width: 1800px;
}

.w-1620 {
    @extend .tf-container;
    width: 100%;
    max-width: 1650px;
}

.full,
.w-1850,
.w-1770,
.w-1620 {
    margin: auto;
}
.full,
.w-1850,
.w-1770,
.w-1620 {
    padding-left: 15px;
    padding-right: 15px;
}
// width

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.w-initial {
    width: initial;
}

.min-w-325 {
    min-width: 325px;
}

.w-max-content {
    width: max-content;
}
// height
.h-122 {
    height: 122px;
}

.h-full {
    height: 100%;
}

.max-h-400 {
    max-height: 400px;
}

// margin
.m-auto {
    margin: auto;
}
// padding
.p-15 {
    padding: 15px;
}
.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.py-9 {
    padding-top: 9px;
    padding-bottom: 9px;
}
.px-26 {
    padding-left: 26px;
    padding-right: 26px;
}

.px-85 {
    padding-left: 85px;
    padding-right: 85px;
}

// text
.text-14 {
    font-size: 14px;
}

.text-16 {
    font-size: 16px;
}

// font

.font-satoshi {
    font-family: $font-satoshi;
}
.font-clash-display {
    font-family: $font-clash-display;
}
.font-six-caps {
    font-family: $font-six-caps;
}

// position

.ab-center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ab-center-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ab-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

// top
.top-full {
    top: 100%;
}

.top-122 {
    top: 122px;
}

// bottom
.bottom {
    bottom: 100%;
}

// right
.right-32 {
    right: 32px;
}

.right-full {
    right: 100%;
}

// left

.left-full {
    left: 100%;
}

// circle

.circle-50 {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
}

// border

.border-style-2 {
    border: 1px solid var(--out-line-2);
}

.border-b {
    border-bottom: 1px solid var(--out-line-2);
}

.border-t {
    border-top: 1px solid var(--out-line-2);
}

.border-l {
    border-left: 1px solid var(--out-line-2);
}

.border-r {
    border-right: 1px solid var(--out-line-2);
}

// radius

.radius-full {
    border-radius: 9999px;
}

// flex

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// gap
.gap-25 {
    gap: 25px;
}

.parent-menu {
    @include dropdown(".sub-menu");
}

.parent-menu-2 {
    @include dropdown(".sub-menu-2");
}

// dropdown

.dropdown {
    position: relative;
    &:hover > .dropdown-menu,
    &:focus-within > .dropdown-menu,
    &.is-open > .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s;
        pointer-events: auto;
    }
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    // min-width: 325px;
    background: var(--black-2);
    color: var(--white);
    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease,
        visibility 0s linear 0.2s;
    will-change: opacity, transform;
    border-radius: 0;
}

.dropdown-menu .dropdown > .dropdown-menu {
    top: 0;
    left: 100%;
    transform: translateX(8px);
    transition: opacity 0.2s ease, transform 0.2s ease,
        visibility 0s linear 0.2s;
}
.dropdown-menu .dropdown:hover > .dropdown-menu,
.dropdown-menu .dropdown:focus-within > .dropdown-menu,
.dropdown-menu .dropdown.is-open > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s;
    pointer-events: auto;
}
