@use "./abstracts/index" as *;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Elements
-------------------------------------------------------------- */

html {
    margin-right: 0 !important;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background-color: var(--primary);
    font-style: normal;
    color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
    transform: scale(1);
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    > * {
        padding-left: 15px;
        padding-right: 15px;
    }
}

ul,
li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    box-sizing: border-box;
}

// form //
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-family: $font-main;
    border: 1px solid var(--out-line);
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    padding: 14px 20px;
    width: 100%;
    background: var(--primary);
    color: var(--out-line);
    height: 50px;
    font-weight: 400;
    @include transition3;
    &:hover,
    &:focus {
        border-color: var(--out-line);
    }
    &.style-2 {
        padding-left: 12px;
        padding-right: 12px;
    }
}

textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="color"]::placeholder {
    color: var(--white);
    @include transition3;
}

textarea {
    height: 160px;
    resize: none;
}
select {
    outline: 0;
}
/* Placeholder color */
::-webkit-input-placeholder {
    color: var(--text-3);
}

:-moz-placeholder {
    color: var(--text-3);
}

::-moz-placeholder {
    color: var(--text-3);
    opacity: 1;
}

button {
    @include transition3;
    background-color: var(--primary);
    border: 1px solid var(--out-line-2);
    color: var(--out-line);
    padding: 12px 32px;
    border-radius: 99px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    .icon {
        font-size: 22px;
    }
}
button:focus-within,
button:focus-visible,
button:focus {
    outline: none;
}

/* Since FF19 lowers the opacity of the placeholder by default */

// :-ms-input-placeholder {
//     color: var(--secondary-2);
// }

.font-main {
    font-family: $font-main;
}

b,
strong {
    font-weight: bolder;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-primary {
    color: var(--primary) !important;
}

.text-white {
    color: var(--white) !important;
}

a {
    @include transition3;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: var(--white);
    &:focus,
    &:hover {
        @include transition3;
        text-decoration: none;
        outline: 0;
    }
}

.link {
    @include transition3;
    &:hover {
        color: var(--white) !important;
    }
}

.tf-container {
    position: relative; //change
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 1320px;
    max-width: 100%;
}

.w-1850 {
    @extend .tf-container;
    width: 100%;
    max-width: 1880px;
}

.w-1770 {
    @extend .tf-container;
    width: 100%;
    max-width: 1800px;
}

.w-1620 {
    @extend .tf-container;
    width: 100%;
    max-width: 1650px;
}

.full,
.w-1850,
.w-1770,
.w-1620 {
    margin: auto;
}
.full,
.w-1850,
.w-1770,
.w-1620 {
    padding-left: 15px;
    padding-right: 15px;
}

/* Typography
-------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    color: var(--white);
    font-weight: 500;
}

h1 {
    font-size: 385px;
    line-height: 90px;
}

h2 {
    font-size: 200px;
    line-height: 90px;
}

h3 {
    font-size: 60px;
    line-height: 90px;
}
h4 {
    font-size: 50px;
    line-height: 90px;
}
h5 {
    font-size: 45px;
    line-height: 90px;
}
h6 {
    font-size: 35px;
    line-height: 90px;
}

// width

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.w-initial {
    width: initial;
}

.w-160 {
    width: 160px;
}

.min-w-325 {
    min-width: 325px;
}

.max-w-325 {
    max-width: 325px;
}

.max-w-470 {
    max-width: 470px;
}
.max-w-1100 {
    max-width: 1100px;
}
.w-max-content {
    width: max-content;
}
// height
.h-122 {
    height: 122px;
}

.h-full {
    height: 100%;
}

.h-556 {
    height: 556px;
}

.max-h-400 {
    max-height: 400px;
}

// margin
.m-auto {
    margin: auto;
}

.mt-135 {
    margin-top: 135px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-135 {
    margin-bottom: 135px !important;
}

// padding
.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-35 {
    padding: 35px;
}

.p-100 {
    padding: 100px;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.px-26 {
    padding-left: 26px;
    padding-right: 26px;
}

.px-60 {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.px-70 {
    padding-left: 70px;
    padding-right: 70px;
}

.px-75 {
    padding-left: 75px;
    padding-right: 75px;
}

.px-80 {
    padding-left: 80px;
    padding-right: 80px;
}

.px-85 {
    padding-left: 85px;
    padding-right: 85px;
}

.py-9 {
    padding-top: 9px;
    padding-bottom: 9px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.py-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}
// text
.text-14 {
    font-size: 14px;
}

.text-15 {
    font-size: 15px;
}

.text-16 {
    font-size: 16px;
}

.text-18 {
    font-size: 18px;
}

.text-20 {
    font-size: 20px;
}

.text-22 {
    font-size: 22px;
}

.text-25 {
    font-size: 25px;
}

.text-30 {
    font-size: 30px;
}

// color

.text-primary-2 {
    color: var(--primary-2);
}
.text-primary-3 {
    color: var(--primary-3);
}

// font

.font-satoshi {
    font-family: $font-satoshi;
}
.font-clash-display {
    font-family: $font-clash-display;
}
.font-six-caps {
    font-family: $font-six-caps;
}

// background

.bg-gray-btn {
    background-color: #f8f8f81a;
}

.bg-img {
    background-image: var(--bg-img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// position

.-ab-center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.-ab-center-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ab-center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(+50%);
}

.ab-center-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(+50%);
}

.ab-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

// top
.top-full {
    top: 100%;
}

.top-haft {
    top: 50%;
}

.top-122 {
    top: 122px;
}

// bottom
.bottom {
    bottom: 100%;
}

// right

.right-0 {
    right: 0;
}

.right-32 {
    right: 32px;
}

.right-full {
    right: 100%;
}

// left
.left-0 {
    left: 0;
}
.left-haft {
    left: 50%;
}

.left-full {
    left: 100%;
}

// circle

.circle {
    border-radius: 50%;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-40 {
    @extend .circle;
    width: 40px;
    height: 40px;
}

.circle-50 {
    @extend .circle;
    width: 50px;
    height: 50px;
}

.circle-70 {
    @extend .circle;
    width: 70px;
    height: 70px;
}

.circle-100 {
    @extend .circle;
    width: 100px;
    height: 100px;
}

// border

.border-style-2 {
    border: 1px solid var(--out-line-2) !important;
}

.border-b {
    border-bottom: 1px solid var(--out-line-2) !important;
}

.border-t {
    border-top: 1px solid var(--out-line-2) !important;
}

.border-l {
    border-left: 1px solid var(--out-line-2) !important;
}

.border-r {
    border-right: 1px solid var(--out-line-2);
}

.border-haft {
    border-right: 0.5px solid var(--out-line-2);
}

.border-style-3 {
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.border-b-style-3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.border-t-style-3 {
    border-top: 1px solid rgba(255, 255, 255, 0.25) !important;
}

// radius

.radius-full {
    border-radius: 9999px;
}

// flex

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// gap

.gap-18 {
    gap: 18px;
}

.gap-25 {
    gap: 25px;
}
.gap-30 {
    gap: 30px;
}

.parent-menu {
    @include dropdown-hover(".sub-menu");
}

.parent-menu-2 {
    @include dropdown-hover(".sub-menu-2");
}

// tranform

.translate-0 {
    transform: translate(0, 0) !important;
}

.translate-x-full {
    transform: translateX(100%);
}

.translate-y-full {
    transform: translateY(100%);
}

.translate-x-x2 {
    transform: translateX(200%);
}

.-translate-x-x2 {
    transform: translateX(-200%);
}

.-translate-y-x2 {
    transform: translateY(-200%);
}

.rotate-180 {
    transform: rotate(180deg);
}
// dropdown-hover

.dropdown-hover {
    position: relative;
    &:hover > .dropdown-hover-menu,
    &:focus-within > .dropdown-hover-menu,
    &.is-open > .dropdown-hover-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s;
        pointer-events: auto;
    }
}
.dropdown-hover-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    // min-width: 325px;
    background: var(--black-2);
    color: var(--white);
    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease,
        visibility 0s linear 0.2s;
    will-change: opacity, transform;
    border-radius: 0;
}

.dropdown-hover-menu .dropdown-hover > .dropdown-hover-menu {
    top: 0;
    left: 100%;
    transform: translateX(8px);
    transition: opacity 0.2s ease, transform 0.2s ease,
        visibility 0s linear 0.2s;
}
.dropdown-hover-menu .dropdown-hover:hover > .dropdown-hover-menu,
.dropdown-hover-menu .dropdown-hover:focus-within > .dropdown-hover-menu,
.dropdown-hover-menu .dropdown-hover.is-open > .dropdown-hover-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s;
    pointer-events: auto;
}

// hover

.text-hover-white:hover {
    color: var(--white);
}
.text-hover-black:hover {
    color: var(--black-2);
}

.bg-hover-white:hover {
    background-color: var(--white);
}

.dropdown-center .dropdown-rounded-b-0-active[aria-expanded="true"] {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

// .dropdown-center .dropdown-border-b-active[aria-expanded="true"] {
//     border-bottom: 1px solid red;
// }

.dropdown-center .dropdown-menu.show.dropdown-rounded-t-0-active {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
