.left-moving-animation {
    .icon {
        width: 0;
        opacity: 0;
        transform: translateX(-100%);
        transition: all 220ms linear;
    }
}
.left-moving-animation:hover {
    .icon {
        transform: translateX(0);
        width: 16px;
        opacity: 1;
    }
}

.text-primary-2-placeholder::placeholder {
    color: var(--black) !important;
}

.right-dot::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 100%;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.left-dot::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 100%;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.home-1-hero {
    background-image: url("../image/hero/home-1-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-1-hero {
    .text-hero {
        position: absolute;
        width: fit-content;
        height: fit-content;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        span {
            color: #030303;
        }
    }
}

.view-work-section {
    h6 {
        max-width: 587px;
    }
}
