@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?hnz0gp');
  src:  url('icomoon.eot?hnz0gp#iefix') format('embedded-opentype'),
    url('icomoon.ttf?hnz0gp') format('truetype'),
    url('icomoon.woff?hnz0gp') format('woff'),
    url('icomoon.svg?hnz0gp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shape3:before {
  content: "\e900";
}
.icon-shape2:before {
  content: "\e901";
}
.icon-shape1:before {
  content: "\e902";
}
.icon-send-mess:before {
  content: "\e903";
}
.icon-send:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-right-up:before {
  content: "\e906";
}
.icon-right-arrow:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e909";
}
.icon-logo .path1:before {
  content: "\e90a";
  color: rgb(255, 113, 32);
}
.icon-logo .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path5:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path6:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path7:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path8:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path9:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path10:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path11:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path12:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path13:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path14:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path15:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path16:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path17:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path18:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path19:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path20:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path21:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path22:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path23:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path24:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path25:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path26:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path27:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bell:before {
  content: "\e925";
}
.icon-555:before {
  content: "\e926";
  color: #f2f2f2;
}
.icon-444:before {
  content: "\e927";
  color: #f2f2f2;
}
.icon-333:before {
  content: "\e928";
  color: #f2f2f2;
}
.icon-222:before {
  content: "\e929";
}
.icon-111:before {
  content: "\e92a";
}
