/* ==== STATE ACTIVE (ITEM ĐANG MỞ) ==== */
.wg-accordion-item {
    align-items: center;
}
.wg-accordion-item.active {
    align-items: baseline;
}
.wg-accordion-item.active.wg-accordion-active-style {
    padding-top: 100px;
    padding-bottom: 100px;
}

.wg-accordion-item.active .wg-accordion-body {
    display: block;
}

.wg-accordion-item.active .wg-accordion-icon {
    opacity: 1;
}

.wg-accordion-item.active .wg-accordion-title {
    opacity: 1;
}

.wg-accordion-item .wg-accordion-desc {
    display: none;
}
.wg-accordion-item.active .wg-accordion-desc {
    display: block;
}
.wg-accordion {
    .wg-accordion-header {
        cursor: pointer;
    }
    .wg-accordion-item {
        position: relative;
    }
}

.wg-accordion-item.wg-accordion-right-icon::after {
    content: "+";
    position: absolute;
    color: white;
    font-size: 30px;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s ease;
}

.wg-accordion-item.active.wg-accordion-right-icon::after {
    content: "-";
    transform: translateY(-50%) rotate(180deg);
}
