/* ==== STATE ACTIVE (ITEM ĐANG MỞ) ==== */

.wg-accordion-item.active.wg-accordion-active-style {
    padding-top: 100px;
    padding-bottom: 100px;
}

.wg-accordion-item.active .wg-accordion-body {
    display: block;
}

.wg-accordion-item.active .wg-accordion-icon {
    opacity: 1;
}

.wg-accordion-item.active .wg-accordion-title {
    opacity: 1;
}

.wg-accordion-item .wg-accordion-desc {
    display: none;
}
.wg-accordion-item.active .wg-accordion-desc {
    display: block;
}
