.card-style-1 {
    .img-inner {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 510;
        .card-post {
            position: absolute;
            top: 15px;
            left: 15px;
            padding: 10px;
            width: 76px;
            height: 97px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .card-date {
                display: flex;
                flex-direction: column;
                .card-day {
                    font-size: 30px;
                    font-weight: 500;
                }
                .card-month {
                    font-weight: 400;
                }
            }
            .card-expiration-date {
                align-self: flex-end;
            }
        }
        .card-desc {
            position: absolute;
            color: #444;
            background-color: white;
            padding: 87px 44px 34px 27px;
            bottom: 0;
            span {
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: 4;
                font-size: 25px;
            }
        }
    }
    .author {
        display: flex;
        padding: 30px 0;
        color: var(--primary-2);
        font-size: 14px;
        font-weight: 500;
        font-family: "ClashDisplay", sans-serif;
        .user {
            position: relative;
            padding-right: 25px;
            &::after {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: white;
                top: 50%;
                right: 0;
                transform: translate(50%, -50%);
            }
        }
        .role {
            padding-left: 25px;
        }
    }
    .title {
        font-size: 20px;
        text-transform: uppercase;
        font-family: "ClashDisplay", sans-serif;
        font-weight: 600;
        margin-bottom: 20px;
    }
}
