.card-style-1 {
    .img-inner {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 510;
    }

    .card-desc {
        position: absolute;
        color: #444;
        background-color: white;
        padding: 87px 44px 34px 27px;
        bottom: 0;
    }

    .title {
        font-size: 20px;
        text-transform: uppercase;
        font-family: "ClashDisplay", sans-serif;
        font-weight: 600;
        margin-bottom: 20px;
    }
}
.card-post {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px;
    width: 76px;
    height: 97px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-date {
        display: flex;
        flex-direction: column;
        .card-day {
            font-size: 30px;
            font-weight: 500;
        }
        .card-month {
            font-weight: 400;
        }
    }
    .card-expiration-date {
        align-self: flex-end;
    }
}

.author {
    display: flex;
    padding: 30px 0;
    color: var(--primary-2);
    font-size: 14px;
    font-weight: 500;
    font-family: "ClashDisplay", sans-serif;
    .user {
        position: relative;
        padding-right: 25px;
        &::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: white;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
        }
    }
    .role {
        padding-left: 25px;
        padding-right: 25px;
    }
    .comment {
        position: relative;
        padding-left: 25px;
        &::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: white;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
        }
    }
}

.card-style-2 {
    width: fit-content;
    .img-inner {
        position: relative;
        max-width: 533px;
        height: 450px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .content {
        padding-top: 40px;
        padding-left: 65px;
        padding-right: 65px;
        display: flex;
        flex-direction: column;
        .title {
            font-size: 22px !important;
            line-height: 30px;
        }
        .card-desc {
            color: var(--primary-2);
            font-size: 15px;
            line-height: 25px;
        }
    }

    .title {
        font-size: 20px;
        text-transform: uppercase;
        font-family: "ClashDisplay", sans-serif;
        font-weight: 600;
        margin-bottom: 20px;
    }
}

.card-style-3 {
    width: 100%;
    .img-inner {
        width: 100%;
        position: relative;
        height: 450px;
        img {
            width: 100%;
            height: 100%;
            max-height: 450px;
        }
    }
    .title {
        font-size: 20px;
        text-transform: uppercase;
        font-family: "ClashDisplay", sans-serif;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .card-desc {
        padding-top: 20px;
        color: var(--primary-2);
        font-size: 15px;
        line-height: 25px;
    }
}

.loadItem {
    &.hidden {
        display: none;
    }
}
.cart-hover-style-1 {
    .card-desc {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    img {
        transition: all 0.5s ease;
    }
}
.cart-hover-style-1:hover {
    .card-desc {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
    img {
        transform: scale(1.07, 1.07) translateX(-10px);
    }
}
