#footer {
    .footer-logo {
        margin-bottom: 130px;
    }
    .title {
        margin-bottom: 70px;
    }
    .text-inner {
        margin-bottom: 75px;
    }
    .social-tag {
        margin-top: 140px;
    }
}
