#header {
    position: relative;
    .menu-list {
        display: flex;
        color: var(--primary-2);
        .menu-item {
            display: flex;
            margin: 0px 20px;
            align-items: center;
            justify-content: center;
            .menu-text,
            .prefix {
                display: inline-block;
                transition: 0.35s cubic-bezier(0.25, 1, 0.5, 1),
                    opacity 0.35s ease;
                will-change: transform, opacity;
                backface-visibility: hidden;
            }

            .menu-text {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }

            .prefix {
                transform: translate3d(8px, 0, 0);
                opacity: 0;
            }
            .content {
                &:hover {
                    .prefix {
                        transform: translate3d(0, 0, 0);
                        opacity: 1;
                    }
                    .menu-text {
                        transform: translate3d(8px, 0, 0);
                        opacity: 1;
                    }
                }
            }
        }
    }
    .nav-mobile-btn {
        display: none;
    }
}

.menu-item * {
    span {
        color: white;
    }
}

.mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background-color: var(--primary);
    transform: translateY(100px);
    overflow-y: auto;
    height: 100vh;
    transition: all 0.5s ease;
    .sub-menu-list {
        padding: 30px 60px;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .sub-item {
            border: 1px solid var(--out-line-2);
            border-radius: 8px;
            padding: 24px;
            font-size: 16px;
            font-weight: 500;
            img {
                height: 350px;
            }
        }
    }
    .page {
        .page-select {
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease;
        }
        img {
            transition: all 0.5s ease;
        }
        &:hover {
            .page-select {
                opacity: 1;
                visibility: visible;
            }
            img {
                filter: blur(10px);
            }
        }
    }
}

.search-overlay {
    display: none;
    backdrop-filter: blur(10px);
    z-index: 10;
    height: 400px;
    background-color: rgba(17, 17, 17, 0.8);
    padding-top: 70px;
    padding-left: 95px;
    padding-right: 95px;
    img {
        width: 117px;
    }
    form {
        input {
            height: 95px;
            font-weight: 400px !important;
            font-size: 25px !important;
            padding: 0 40px 0 0;
            border-radius: 11px;
        }
    }
}

@keyframes fadeUp {
    from {
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
