#header {
    position: relative;
    .p-r-85 {
        padding-right: 85px;
    }
    .p-l-85 {
        padding-left: 85px;
    }
    .w-260 {
        width: 260px;
    }
    .menu-list {
        display: flex;
        color: var(--primary-2);
        .menu-item {
            display: flex;
            margin: 0px 20px;
            position: relative;
            align-items: center;
            justify-content: center;
            .menu-text,
            span {
                display: inline-block;
                transition: 0.35s cubic-bezier(0.25, 1, 0.5, 1),
                    opacity 0.35s ease;
                will-change: transform, opacity;
                backface-visibility: hidden;
            }

            .menu-text {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }

            span {
                transform: translate3d(8px, 0, 0);
                opacity: 0;
            }
            &:hover {
                span {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
                .menu-text {
                    transform: translate3d(8px, 0, 0);
                    opacity: 1;
                }
            }
        }
    }
}

.menu-item {
}

.home-sub-menu {
    position: fixed;
    width: 100vw;
    left: 0;
    right: 0;
    top: 122px;
    overflow-y: auto;
    background-color: var(--primary);

    .sub-menu-list {
        padding: 30px 60px 0 60px;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .sub-item {
            border: 1px solid var(--out-line-2);
            border-radius: 8px;
            padding: 24px;
            font-size: 16px;
            font-weight: 500;
            img {
                height: 350px;
            }
        }
    }
}

.search-overlay {
    display: none;
    backdrop-filter: blur(10px);
    z-index: 10;
    height: 400px;
    background-color: rgba(17, 17, 17, 0.8);
    padding-top: 70px;
    padding-left: 95px;
    padding-right: 95px;
    img {
        width: 117px;
    }
    form {
        input {
            height: 95px;
            font-weight: 400px !important;
            font-size: 25px !important;
            padding: 0 40px 0 0;
            border-radius: 11px;
        }
    }
}

@keyframes fadeUp {
    from {
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
