// --------------------------
@mixin transition3() {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@mixin transitionY() {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin hidden {
    opacity: 0;
    visibility: hidden;
}
@mixin visible {
    opacity: 1;
    visibility: visible;
}

@mixin dropdown($submenu) {
    &:hover #{$submenu} {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        transition: all 0.3s ease;
    }

    #{$submenu} {
        z-index: 3;
        visibility: hidden;
        opacity: 0;
        transform: translateY(50%);
    }
}
