$font-main: "DM Sans", sans-serif;
$font-satoshi: "Satoshi", sans-serif;
$font-clash-display: "ClashDisplay", sans-serif;
$font-six-caps: "Six Caps", sans-serif;

$fontIcon: "icomoon";
$primary: #030303;

:root {
    --primary: #030303;
    --primary-2: #c2c2c2;
    --white: #ffffff;
    --gray: #444444;
    --gray-2: #7c7c7c;
    --out-line: #f8f8f8;
    --black: #000000;
    --out-line-2: #292929;
}
